:root {
    --accent: #F584B1;
    --primary-bg: #2b2927;
    --secondary-bg: #b19581;
    --primary-font: #a9b691;
    --secondary-font: #efe2c9;
    --dark: #132018;
    --font-size-h1: 4rem;
    --font-size-h2: 2rem;
    --font-size-biggest: 4rem;
    --font-size-bigger: 3rem;
    --font-size-big: 1.5rem;
    --font-size-small: .9rem;
    --font-size-smaller: .85rem;
    --font-size-smalleset: .7rem;
    --font-family: Helvetica;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --image-border-radius: 8px;
}

/*---------- || Global Elements ----------*/

body {
    background-color: var(--primary-bg);
    color: var(--primary-font);
    font-family: var(--font-family);
    margin: 0;
}

h1 {
    font-size: var(--font-size-biggest);
    margin-bottom: 1rem;
}

h2 {
    font-size: var(--font-size-h2);
    margin-bottom: .5rem;
}

a {
    color: inherit;
    transition: ease.1s;
    text-decoration-color: var(--secondary-font);
}

a:hover {
    /* text-decoration-color: var(--accent); */
    text-decoration: none;
    cursor: pointer;
}

a[aria-current=true] {
    text-decoration: none;
}

a:focus,
a:link:focus,
a:visited:focus,
a[aria-current=true]:focus {
    box-shadow: 0 0 0 6px var(--accent), 0 0 0 8px var(--accent);
    outline: 3px solid transparent;
    outline-offset: 3px;
    background-color: var(--accent);
    text-decoration-color: var(--dark);
    color: var(--dark);
    border-radius: .5px;
}

iframe {
    border-radius: var(--image-border-radius);
}

/*---------- || Blocks ----------*/

.container {
    padding: 0 1rem;
    margin: auto;
    max-width: 1200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.col-100 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    box-sizing: border-box;
}

.col-50 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    box-sizing: border-box;
}

.col-50 img {
    width: 100%;
    border-radius: var(--image-border-radius);
}

@media screen and (max-width: 769px) {
    .col-50 {
        -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    }
}

.heading {
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.heading p {
    font-size: var(--font-size-big);
}

@media screen and (max-width: 769px) {
    .heading {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    .heading h1 {
        font-size: var(--font-size-bigger);
        margin-bottom: .5rem;
    }
    
    .heading p {
        font-size: var(--font-size-big);
    }
}

/*---------- || Header ----------*/

.rnav {
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rnav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

/*---------- || Misc ----------*/

/* Skip to Main Content */

.skip-main {
    position: absolute;
    height: 0;
    overflow: hidden;
    text-align: center;
    font-size: 1.5rem;
}

.skip-main:focus {
    padding: 2rem 0;
    height: fit-content;
    width: 100%;
    overflow: auto;
}


